.App {
  /* text-align: center; */
}
.header-cont{
  display: flex;
  justify-content: space-between;
}
.link-cont{
  display: flex;
  justify-content: space-between;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.world-cont{
  
  /* background-color: gray; */
  /* color: white; */
  /* width: 500px; */
  padding: 5%;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
}
.demo-button{
  background-color: black;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  backdrop-filter: blur(100px) ;
  border-radius: 2px 3px;
}
.demo-button:hover {
  cursor: pointer;
  color: black;
  border: 2px solid black;
  background-color: rgb(248, 244, 244);
}
.nav-link{
  display: flex;
  justify-content: space-between;
  width: 100%;
  backdrop-filter: brue(40px);
  
}
.world-cont{
  display: flex;
  justify-content: center;
 }
.header-cont{
  display: flex;
  justify-content: center;
}
.logo{
  font-weight: bold;
  
}